.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .filme {
    background-color: lightgray;
    margin-bottom: 10px;
}

.container .capa_filme {
    height: 400px;
    width: 300px;
}

.container .filme .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .filme .card p {
    font-size: 20px;
}

.container .filme .card .sinopse {
    border: none;
    background-color: transparent;
    font-size: 20px;
}